<div class="title_model">Model <%= @model %></div>
<div class="linked_data_graphs"><%= image_tag(image_path("linked_data_graphs/linked_data_#{@model}.png"))%></div>

<span class="title_data_publications">Access model <%=@model%></span>

<span class="simple_data"><a href="<%= @host+'/s/'+@model.camelize.pluralize%>" title="access to <%=@model%>"><%=@host+'/s/'+@model.camelize.pluralize%></a></span><br />

<%if @associations.respond_to?:each%>
 <span class="title_data_publications">
     Assocciations access
 </span>
 <ul class="linked_data_assocciations">
   <%@associations.each do |assoc,model|%>
     <li><%=assoc.camelize%> : <a href="<%= @host+'/s/'+model.camelize.pluralize%>" title="access to <%=assoc%>"><%= @host+'/s/'+model.camelize.pluralize%></a></li>
   <%end%>
 </ul>
<%end%>


