<div id="list_attributes" class="model_attributes">

<%if @model_attributes.respond_to?:each%>
   <!-- ATTRIBUTES -->
   
   <span>Model</span>
   <div class="attributes_info">
    <div id="privacy">
      <span><b>Access privacy:</b></span>
      <span><%= @model_attributes[:privacy] %></span> 
    </div>
    <div id="<%="namespace"%>">
      <span><b>Rdf Namespace:</b></span>
      <span><%= @model_attributes[:namespace] -%></span>
    </div>
    <div id="<%= "property"%>">
      <span><b>Property:</b></span>
      <span><%=@model_attributes[:property] %></span>
    </div>
   </div>
   <span>Resource Attributes</span>
   <%= render :partial => "list_properties",:locals => {:attributes => @model_attributes["attributes"]} %> 
   <span>Associations whit others Resources</span>
   <!--ASSOCIATIONS-->
   <%= render :partial => "list_properties",:locals => {:attributes => @model_attributes["associations"]} %> 
<%else%>
 <span>Model no found</span>
<%end%>
<span>
     <%= link_to_remote "Edit",:url => {:controller => 'easy_datas', 
                                        :action => :model_attributes_edit, 
                                        :model => @model},
                               :update => "model_attributes",
                               :success => "Effect.Appear('#{@model}_attributes', { duration: 0.4 });",
                               :failure => "alert('Ooops! An error occurred.')"                
     %>
</span>

 <%= link_to_function "[Close]","Effect.Fade('model_attributes',{ duration : 0.3});Effect.Appear('open_#{@model}',{ duration : 0.3});",:class=>"close_list"%>

</div>


