<span class="title_model"><%=@model%> Model</span>

<% if @model_attributes["attributes"]%>
 <span class="title_data_publications"> Attributes </span>
 <ul>
  <%@model_attributes["attributes"].each do |att,values|%>
   <%if values[:privacy] && values[:privacy]!="Hidden" && values[:property]!="not defined"%>
     <li><span  class="<%='lock' if values[:privacy]=="Private"%>" title="<%='Private attribute' if values[:privacy]=="Private"%>"><%=att%></span></li>
   <%end%>
  <%end%>
 </ul>
<%end%>

<%if @model_attributes["associations"] %>
 <span class="title_data_publications"> Associations </span>
 <ul>
  <%@model_attributes["associations"].each do |att,values|%>
   <%if values[:privacy]!="Hidden" && values[:property]!="not defined"%>
     <li><span class="<%='lock' if values[:privacy]=="Private"%>" title="<%='Private association' if values[:privacy]=="Private"%>"><%=att%></span></li>
   <%end%>
  <%end%>
 </ul>
<%end%>

