<%- form_remote :settings,:url => {:controller => "easy_datas",:action=>"custom_settings"},:remote => true,:update => "custom_content" do%>

 <table class="settings_table">
   <tr>
    <th colspan="2"><div class="title_data_publications">Proyecto</div></th>
   </tr>
   <tr>
    <td><span>Project's name(?):</span></td><td><%= text_field "project","project",:value =>@settings["project"]["name"] %></td>
   </tr>
   <tr>
    <td><span>Logo(?):</span></td><td><%= select "project","logo",@images,{:selected => @settings["project"]["logo"]||nil,:prompt => "Select logo ..."}%></td>
   </tr>
   <tr>
    <td><span>Description(?):</span></td><td><%= text_area "project","description","cols" => 45,"rows"=>5,:value=>@settings["project"]["description"]%></td>
   </tr>
   <tr>
    <td><span>Contact email(?):</span></td><td><%= text_field "project","email",:value=>@settings["project"]["contact_email"]%></td>
   </tr>
   <tr><th colspan="2"><div class="title_data_publications">Access</div></th>
   <tr>
     <td><span>User:</span></td><td><%= text_field "user_admin","user",:value=>@settings["user_admin"]["user"]%></td>
   </tr>
   <tr> 
     <td><span>Password:</span></td><td><%= password_field "user_admin","pass"%></td>
   </tr>
   <tr> 
     <td><span>IP:</span></td><td><%= text_field "access","ip",:value => @settings["access"]["ip"]%></td>
   </tr>
  </table>

 <%= submit_tag "Send" %>

<%end%>
