<div class="authenticate">
<div class="left"></div>
<div class="middle"> 
  <%form_remote_tag :url => {:controller => 'easy_datas',:action => "login"}, 
                  :update => "content" do  -%>
   <span>
     <%= label_tag :nick,nil,:class => "lbl_auth" %>
     <%= text_field_tag :nick,nil%>
   </span>
   <span>
     <%= label_tag :password,nil, :class => "lbla_auth"%>
     <%= password_field_tag ":password",nil%>
   </span>
   <%= submit_tag "Access" %>
   <input type="button" name="reset_form" value="Cancel" onclick="this.form.reset();"> 
 <%end%>
</div>
<div class="right"></div>
<div class="bottom"></div>
</div>
